{% extends 'base.html.twig' %}
{% block title 'Connexion' %}
{% block body %}
    {% if error %}
        <div class="container my-5">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-icon"><span class="sr-only">Danger</span></span>
                <div>
                    <p>{{ error.messageKey | trans(error.messagedata, 'security') }}</p>
                </div>
                <button type="button" class="close" data-dismiss="alert">
                    <span class="sr-only">Close alert message</span>
                </button>
            </div>
        </div>

    {% endif %}
    <form action="{{ path('login') }}" method="post" style="width: 100%;max-width: 330px;padding: 15px;margin: auto;" class="form-signin text-center">
        <img class="mb-4" src="https://boosted.orange.com/docs/4.4/dist/img/ORANGE_LOGO_rgb.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input value="{{ last_username }}" type="text" name="_username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"  name="_password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>
{% endblock %}
