{% extends 'base.html.twig' %}
{% block title 'Ajouter le bien' %}
{% block body %}
    <div class="container my-5">
        <h2> Ajouter le bien</h2>
        {{ include ('admin/property/form.html.twig', {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}