{% extends 'base.html.twig' %}
{% block title 'Ajouter les options' %}
{% block body %}
    <div class="container my-5">
        <h2> Ajouter une option</h2>
        {{ include ('admin/option/form.html.twig', {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}
